.customToastClass{
    div{
    background-color:#740f52!important;
    font-weight: bold;
    color: #ebc3eb;
    top: 530px !important;
    text-align: center !important;
    border-radius: 0px !important;
    width: 100% !important;
  }
}